/* место для вашего кода */
.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item {
  text-transform: lowercase;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  letter-spacing: 0;
}

.header__logo {
  display: block;
  width: 137px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: end;
  font-size: 18px;
  line-height: 24.3px;
  margin-right: 37px;
}

.address {
  font-style: normal;
}