/* место для вашего кода */
.header {
  padding: 92px 50px 92px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item {
  text-transform: lowercase;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  letter-spacing: 0;
}

.header__logo {
  display: block;
  width: 137px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: end;
  font-size: 18px;
  line-height: 24.3px;
  margin-right: 37px;
}

.address {
  font-style: normal;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
  padding: 164px 50px 50px 50px;
  z-index: -2;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: -1;
}

.cover__title {
  /* display: flex;
  flex-direction: column;
  gap: 5px; */

  font-weight: bold;
  font-size: 100px;

}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
  margin-bottom: 9px;
}

.aligned-text_center {
  text-align: center;
  margin-bottom: 3px;
}

.aligned-text_right {
  text-align: right;
  margin-bottom: 127px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  font-size: 22px;
}

.cover__description-text {
  padding-left: 28px;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px;
}

.card {
  position: relative;
}