.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  padding: 92px 50px 92px 50px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.header__links-list-item_no-bullit {
  letter-spacing: 0;
  list-style: none;
}

.header__logo {
  display: block;
  width: 137px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
  margin-right: 5px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 235px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.address__link {
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  padding: 164px 50px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  margin-bottom: 136px;
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  padding-left: 28px;
  word-spacing: 18.5px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  font-family: "Raleway", serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  width: 100%;
  padding: 153px 24px;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 25px;
  padding-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 563px;
}

.lots__heading {
  padding: 27px 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
  padding-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas:
    "logo title"
    ". text";
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  column-gap: 71px;
  padding: 30px 27px 30px 70px;
}

.about__logo {
  grid-area: logo;
  border-radius: 50%;
  padding: 47px;
  background-color: black;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 148px;
}

.about__title {
  grid-area: title;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: text;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 151px 50px 88px 50px;
}

.footer__menu {
  display: flex;
  justify-content: center;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
}

.footer__links-list-item {
  font-size: 18px;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
  text-transform: lowercase;
}
